<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apps List</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://kit.fontawesome.com/0df6185928.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Apps List</h1>
  <details>
    <summary style="background-color: dimgrey;">Filter Results</summary>
    <input id="adult" type="checkbox" onchange="filterAdultApps()">Show apps with 18+ content?</input>
  </details>
  <hr>
  <div class="list-container">
  {% macro show_app(app) %}
    {% if (DEBUG or ("localhost" not in app.url)) and (SHOW_ADULT_CONTENT or not app.adult) and app.visible %}
      <div class="card" data-url="{{ app.url }}" data-adult="{{ app.adult }}" data-tags="{{ app.tags }}" data-visible="{{ app.visible }}">
        {% if 'action' in app.tags %}
          <i class="fa-solid fa-hand-fist" aria-hidden="true" title="Action"></i>
        {% endif %}
        {% if 'horror' in app.tags %}
          <i class="fa-solid fa-ghost" aria-hidden="true" title="Horror"></i>
        {% endif %}
        {% if 'rpg' in app.tags %}
          <i class="fa-solid fa-dice-d20" aria-hidden="true" title="RPG"></i>
        {% endif %}
        {% if ('music' in app.tags) or ('rhythm' in app.tags) %}
          <i class="fa-solid fa-music" aria-hidden="true" title="Music/Rhythm"></i>
        {% endif %}
        {% if ('puzzle' in app.tags) or ('strategy' in app.tags) %}
          <i class="fa-solid fa-puzzle-piece" aria-hidden="true" title="Puzzle/Strategy"></i>
        {% endif %}
        <a href="{{ app_pages[app.url] }}" target="_blank" rel="noopener noreferrer">{{ app.name }}</a>
        <p>{{ app.description }}</p>
        <a href="{{ app.url | safe }}" target="_blank" rel="noopener noreferrer">{{ app.url }}</a>
      </div>
    {% endif %}
  {% endmacro show_app %}

  {% macro show_group(appgroup) %}
    {% set_global has_visible = false %}
    {% for app in appgroup %}
      {% if (DEBUG or ("localhost" not in app.url)) and (SHOW_ADULT_CONTENT or not app.adult) and app.visible %}
        {% set_global has_visible = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    
    {% if has_visible %}
      <details class="app-container">
        <summary>{{ appgroup[0].name }}</summary>
        {% for app in appgroup %}
          {{ self::show_app(app=app) }}
        {% endfor %}
      </details>
    {% endif %}
  {% endmacro show_group %}

  {% for appgroup in apps %}
    {{ self::show_group(appgroup=appgroup) }}
  {% endfor %}
  </div>
  <script>
    /** @type {HTMLInputElement} */
    const adult = document.querySelector('#adult');

    function filterAdultApps() {
      const cardsList = document.querySelectorAll("details[data-adult]")
      const appsList = document.querySelectorAll("div[data-adult]")
      for (const app of appsList) {
        const isAdult = app.getAttribute('data-adult');
        if (isAdult == "true") {
          app.style.display = adult.checked ? 'block' : 'none';
          if (app.parentNode.childElementCount == 2) { // 2 to account for <summary> tag
            app.parentElement.style.display = app.style.display;
          }
        }
      }
    }

    // Filter out apps initially on page load
    filterAdultApps();
  </script>
</body>
</html>