<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apps List</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Apps List</h1>
  <details open>
    <summary style="background-color: dimgrey;">Filter Results</summary>
    <input id="adult" type="checkbox" onchange="filterAdultApps()">Show apps with 18+ content?</input>
  </details>
  <hr>
  <div class="list-container">
  {% for appgroup in apps %}
    <!-- TODO: This check on the appgroup and app can probably be consolidated -->
    {% if (DEBUG or ('localhost' not in appgroup[0].url)) and (SHOW_ADULT_CONTENT or not appgroup[0].adult) and appgroup[0].visible %}
    <details class="app-container">
      <summary>{{ appgroup[0].name }}</summary>
      {% for app in appgroup %}
        {% if (DEBUG or ('localhost' not in app.url)) and (SHOW_ADULT_CONTENT or not app.adult) and app.visible %}
        <div class="card" data-url="{{ app.url }}" data-adult="{{ app.adult }}" data-tags="{{ app.tags }}">

          <a href="{{ app_pages[app.url] }}" target="_blank" rel="noopener noreferrer">{{ app.name }}</a>
          <p>{{ app.description }}</p>
          <a href="{{ app.url | safe }}" target="_blank" rel="noopener noreferrer">{{ app.url }}</a>
        </div>
        {% endif %}
      {% endfor %}
    </details>
    {% endif %}
  {% endfor %}
  </div>
  <script>
    const appsList = document.querySelector('.list-container');
    /** @type {HTMLInputElement} */
    const adult = document.querySelector('#adult');

    function filterApps(checkbox) {
      const checked = checkbox.checked;
      const hostURL = checkbox.getAttribute('data-url');
      for (const app of appsList.children) {
        const url = app.getAttribute('data-url');
        if (url.includes(hostURL) && !url.includes(`.${hostURL}`)) {
          app.style.display = checked ? 'block' : 'none';
          if (!checked)
            app.setAttribute('data-url-filtered', "");
          else
            app.removeAttribute('data-url-filtered');
        }
      }
      filterAdultApps();
    }

    function filterAdultApps() {
      for (const app of appsList.children) {
        if (app.hasAttribute('data-url-filtered')) continue;

        const isAdult = app.getAttribute('data-adult');
        if (isAdult == "true") {
          app.style.display = adult.checked ? 'block' : 'none';
        }
      }
    }

    // Filter out
    filterAdultApps();
  </script>
</body>
</html>