<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apps List</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Apps List</h1>
  <div class="list-container">
  {% for app in apps %}
    {% if DEBUG or 'localhost' not in app.url %}
      <div class="card">
        <a href="/app/{{ loop.index - 1 }}">{{ app.name }}</a>
        <p>{{ app.description }}</p>
        <a href="{{ app.url | safe }}">{{ app.url }}</a>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</body>
</html>