<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apps List</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Apps List</h1>
  <details open>
    <summary style="background-color: dimgrey;">Filter Results</summary>
    <input id="adult" type="checkbox" onchange="filterAdultApps()">Show apps with 18+ content?</input>
  </details>
  <hr>
  <div class="list-container">
  {% macro should_show(element) %}
    {% if (DEBUG or ('localhost' not in element.url)) and (SHOW_ADULT_CONTENT or not element.adult) and element.visible %}
      {{ element }}
    {% endif %}
  {% endmacro should_show %}

  {% for appgroup in apps %}
    {% if self::should_show(element=appgroup[0]) %}
    <details class="app-container">
      <summary>{{ appgroup[0].name }}</summary>
      {% for app in appgroup %}
        {% if self::should_show(element=app) %}
        <div class="card" data-url="{{ app.url }}" data-adult="{{ app.adult }}" data-tags="{{ app.tags }}">

          <a href="{{ app_pages[app.url] }}" target="_blank" rel="noopener noreferrer">{{ app.name }}</a>
          <p>{{ app.description }}</p>
          <a href="{{ app.url | safe }}" target="_blank" rel="noopener noreferrer">{{ app.url }}</a>
        </div>
        {% endif %}
      {% endfor %}
    </details>
    {% endif %}
  {% endfor %}
  </div>
  <script>
    /** @type {HTMLInputElement} */
    const adult = document.querySelector('#adult');

    function filterAdultApps() {
      const cardsList = document.querySelectorAll("details[data-adult]")
      const appsList = document.querySelectorAll("div[data-adult]")
      for (const app of appsList) {
        const isAdult = app.getAttribute('data-adult');
        if (isAdult == "true") {
          app.style.display = adult.checked ? 'block' : 'none';
          console.log(app.parentNode.childElementCount);
          if (app.parentNode.childElementCount == 2) {
            app.parentElement.style.display = app.style.display;
          }
        }
      }
    }

    // Filter out apps initially on page load
    filterAdultApps();
  </script>
</body>
</html>