<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apps List</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Apps List</h1>
  <div>
    <p>Show results from the following domains:</p>
  {% for occurance in high_occurances %}
    {% if DEBUG or 'localhost' not in occurance %}
    <input data-url="{{ occurance }}" type="checkbox" checked onchange="filterApps(this)">{{ occurance }}</option>
    {% endif %}
  {% endfor %}
  </div>
  <hr>
  <div class="list-container">
  {% for app in apps %}
    {% if DEBUG or 'localhost' not in app.url %}
    <div class="card" data-url="{{ app.url }}">
      <a href="/app/{{ loop.index - 1 }}" target="_blank" rel="noopener noreferrer">{{ app.name }}</a>
      <p>{{ app.description }}</p>
      <a href="{{ app.url | safe }}" target="_blank" rel="noopener noreferrer">{{ app.url }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <script>
    const appsList = document.querySelector('.list-container');
    function filterApps(checkbox) {
      const checked = checkbox.checked;
      const hostURL = checkbox.getAttribute('data-url');
      for (const app of appsList.children) {
        const url = app.getAttribute('data-url');
        if (url.includes(hostURL) && !url.includes(`.${hostURL}`)) {
          app.style.display = checked ? 'block' : 'none';
        }
      }
    }
  </script>
</body>
</html>