<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spatial Internet Graph Relay</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="icon" href="{{ url('favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <h1>Spatial Internet Graph Relay</h1>
  <p>This is a test deployment of a Spatial Internet Graph Relay, which helps to catalogue spatial experiences on the web.</p>
  <p>This relay currently knows of {{ apps_count }} app(s). Here are a few of them:</p>
  <div class="main-carousel" data-flickity='{ "wrapAround": true, "imagesLoaded": true }'>
    {% for app in apps %}
    <div class="carousel-cell">
      <a href="{{ app.url }}" target="_blank" rel="noopener noreferrer">{{ app.name }}</a>
      <p>{{ app.description }}</p>
      {% if app.image != "#" %}
      <img width="100%" height="auto" src="{{app.image}}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
</body>
</html>