<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spatial Internet Graph Relay</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="https://kit.fontawesome.com/0df6185928.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/apps">List of Apps</a>
      <a href="/relays">List of Relays</a>
    </nav>
  </header>
  <p>This is a deployment of a Spatial Internet Graph Relay, which helps to catalogue spatial experiences on the web.</p>
  <div class="tiles">
    {% for app in shuffled_apps %}
    <div class="tile" onclick="window.open('{{ app.url }}', '_blank', 'noopener,noreferrer')">
      {% if app.image != "#" %}
      <img src="{{app.image}}">
      {% else %}
      <img src="/static/images/noimage.png">
      {% endif %}
      <p><i class="fa-solid fa-users" aria-hidden="true" title="Users"></i> {{ live_counts[loop.index0] }}</p>
      <a href="{{ app.url }}" target="_blank" rel="noopener noreferrer">
        <button type="button">Visit {{ app.name }}</button>
      </a>
    </div>
    {% endfor %}
  </div>
</body>
</html>