body {
  margin: 0;
  text-align: center;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card, .carousel-cell {
  border: 4px solid white;
  border-radius: 16px;
  padding: 1em;
}