body {
  margin: 0;
  text-align: center;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.main-carousel {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .card, .carousel-cell {
    border: 4px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .card, .carousel-cell {
    border: 4px solid black;
  }
}

.card, .carousel-cell {
  border-radius: 16px;
  padding: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-cell {
  height: 10em;
}

.carousel-cell p {
  padding: 0 2em;
}