html, body {
  height: auto;
}

body {
  margin: 0;
  text-align: center;
  width: 100%;
}

img {
  margin: auto;
}

nav {
  display: inline-block;
  width: 100%;
}

header {
  height: fit-content;
}

i {
  float: right;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.main-carousel {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .card, .carousel-cell, .frontpage-tile-cell {
    border: 4px solid white;
  }
  .frontpage-tile-cell:hover {
    background-color: #333333;
  }
}

@media (prefers-color-scheme: light) {
  .card, .carousel-cell, .frontpage-tile-cell {
    border: 4px solid black;
  }
  .frontpage-tile-cell:hover {
    background-color: #dddddd;
  }
}

.card, .carousel-cell {
  border-radius: 16px;
  padding: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-cell {
  height: fit-content;
}

.carousel-cell p {
  padding: 0 2em;
}

[data-url-filtered] {
  display: none;
}

.frontpage-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-items: center;
}

.frontpage-tile-cell {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 2.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 16px;
  height: 300px;
  width: 300px;
}

.frontpage-tile-cell > a {
  margin-top: 8px;
}

.frontpage-tile-cell > img {
  width: 300px;
  height: auto;
}