html, body {
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  margin: auto;
}

nav {
  display: inline-block;
  width: 100%;
}

header {
  height: fit-content;
}

i.genre {
  float: right;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  border-radius: 16px;
  padding: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}

[data-url-filtered] {
  display: none;
}

/* TILES */

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 300px;
  margin: 16px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.tile > a {
  margin-top: 8px;
}

.tile > img {
  width: 300px;
  height: auto;
}

.tile button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* MOBILE */

/* For small screens (less than 768px) */
@media (max-width: 768px) {
  .tile {
    width: 300px;
    margin: 16px;
  }
}

/* For medium screens (768-1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .tile {
    width: 300px;
    margin: 16px;
  }
}

/* For large screens (1024px and above) */
@media (min-width: 1024px) {
  .tiles {
    justify-content: space-around; /* change to space-around for more even spacing */
  }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  .card, .tile {
    border: 4px solid white;
  }
  .tile:hover {
    background-color: #333333;
  }
}

@media (prefers-color-scheme: light) {
  .card, .tile {
    border: 4px solid black;
  }
  .tile:hover {
    background-color: #dddddd;
  }
}

/* Live count styles */
.live-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.live-dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
